/* This is the style page for GBZ! keep it mobile-first, clean, and accessible */

/* BRAND COLORS
#fbcd4b Buttercup
#a3a599 Silver Plate
#282623 Dark
#88a550 Green  
#3882F6 Blue CTA*/

/* Meyer CSS Reset - URL: http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* System Fonts with system-ui */
:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

/* My code */

* {
  /* margin: 5 px;  for testing */
  /* padding: 5 px; /*for testing */
}

body {
  font-family: var(--system-ui); /* System Fonts with system-ui */
  min-height: 100vh; 
  background-color: white;
  display: flex;
  flex-direction: column;
  margin:0;
}

p,h1,h2,h3,h4,h5,h6 {
  color: #282623;
  line-height: 1.1rem;
}

p {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  display: block;
  font-size: 2rem;
  margin-top: 0.67rem;
  margin-bottom: 0.67rem;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5rem;
  margin-top: 0.83rem;
  margin-bottom: 0.83rem;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;  
}

h4 {
  display: block;
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
  font-weight: bold;
}

button {
  padding: 3px 30px;
  border-style: solid;
  border-radius: 8px;
  height: 40px;
  width: 120px;
  color: white;
  background-color: #3882F6;
  box-shadow: 2px 2px 5px #282623;
}

.hero button {
  border: none;
}

.ctabutton button {
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

li {
  padding-left: 15px;
  font-size: 1.1rem;
}

#supportbox {
  background-color: #88a550;
}

.list-unstyled {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
  display: flex;
  margin-left: auto;
  margin-right: 100px;
  align-items: center;
  padding: 5px;
}

.section1top {
  display: flex;
  justify-items: stretch;
  color: white;
  padding: 3px;
}

.header {
  display: flex;
  color: white;
}

.headerlogo {
  padding-left: 60px;
  margin: 8px;
}

.header a {
color:white;
text-decoration: none;
}

.hero {
  display: flex; 
  padding-bottom: 50px;
  color: white;
  text-shadow: 3px 3px 6px #282623;
}

.hero-section {
  background-image: url("images/GBZ_background_hydrangea.jpg");
  background-size: cover;
}

img.hero-section {
  opacity: 0.1;
}

.footer {
  background-color: #88a550;
  color: white;
}

.topimage {
  margin: auto;
}

.topinfo {
  padding: 10px;
  margin: auto;
}

.section2cards {
  display: flex;
  flex-direction: column;
}

.sec2header {
  display:flex;
  justify-content: center; /* centers the h2*/ 
  margin: 8px;
}

/* All the cards under the header*/ 
.cards {  
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

/* individual card, consisting of image + text*/ 
.card { 
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: center; /* centers the .cardimage divs*/ 
}

/* top image in the card, with border*/ 
.cardimage {
  display: flex;
  border-style: solid;
  border-radius: 10px;
  border-width: 4px;
  border-color: #fbcd4b;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
}

.cardimage img {  /* class must come before element*/ 
  width: 100px;
  height: 100px;
}

.cardtext {
  text-align: center;
  font-size: 0.75rem;
  width: 120px;
  color: #282623;
}

/* HTML Table */
.sectiontable {
  display: flex;
  margin: 20px;
  justify-content: center; /* centers the table*/ 
}

.section3quote {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #E5E7EB;
  width: auto;
  height: 220px;
  justify-content: center;  /* main axis for div, centers vertically*/ 
  color: grey;
}

blockquote {
  font-style: italic;
  font-weight:lighter;
  margin: 5px 90px;
}

.section3quote p{
  color: #1F2937;
  font-weight: 100;
  font-size: 2rem;
  line-height: 2.2rem;
}

figcaption {
  text-align: right;
  padding-right: 150px;
  font-weight: bold;
  font-size: 1.1rem;
}

.section4cta {
  display: flex;
  margin: 20px auto; 
}

.ctabox {
  display: flex;
  background-color: #3882F6;
  padding: 5px 15px;
  border-radius: 8px;
  margin: 20px;
}

.ctatext {
  padding: 3px 50px;
  margin: 3px;
}

.ctabutton {
  display: flex;
  padding: 3px 50px;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  font-size: 0.8rem;
}

.darkbox {
  color:white;
}

/* Code below copied, then edited, for my test table: https://github.com/mdn/learning-area/blob/main/html/tables/assessment-start/minimal-table.css */

table {
	border-collapse: collapse;
	border-spacing: 0;
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
  vertical-align: middle;
}

th {
  background-color: rgb(235,235,235);
}

/* td {
  text-align: center;
} */

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 8px;
  font-size: 1.1rem;
}
