/* This is the style page for GBZ! keep it mobile-first, clean, and accessible */
/* BRAND COLORS
#fbcd4b Buttercup
#a3a599 Silver Plate
#282623 Dark
#88a550 Green  
#3882F6 Blue CTA*/

* {
  font-family: Arial, sans-serif;
  /* margin: 5 px;  for testing */
  /*padding: 5 px; /*for testing */
}

body {
  min-height: 100vh; 
  background-color: white;
  display:flex;
  flex-direction: column;
  margin:0;
}

p,h1,h2,h3,h4,h5,h6 {
  color: #282623;
}

h1 {
  font-size: 40px;
}

button {
  padding: 3px 30px;
  border-style: solid;
  border-radius: 8px;
  height: 40px;
  width: 120px;
  color: white;
  background-color: #3882F6;
}

.hero button {
  border: none;
}

.ctabutton button {
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

li {
  padding-left: 15px;
  font-size: 1.1em;
}

#supportbox {
  background-color: #88a550;
}

.list-unstyled {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
  display: flex;
  margin-left: auto;
  margin-right: 100px;
  align-items: center;
  padding: 5px;
}

.section1top {
  display: flex;
  justify-items: stretch;
  color: white;
  padding: 3px;
}

.header {
  display:flex;
  color: white;
}

.headerlogo {
  padding-left: 60px;
  margin: 8px;
}

.header a {
color:white;
text-decoration: none;
}

.hero {
  display: flex; 
  padding-bottom: 50px;
}

.header, 
.hero,
.footer {
  background-color: #88a550;
  color: white;
}

.topimage {
  margin: auto;

}

.topinfo {
  padding: 10px;
  margin: auto;
}

.section2cards {
  display: flex;
  flex-direction: column;
}

.sec2header {
  display:flex;
  justify-content: center; /* centers the h2*/ 
  margin: 8px;
}

/* All the cards under the header*/ 
.cards {  
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

/* individual card, consisting of image + text*/ 
.card { 
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: center; /* centers the .cardimage divs*/ 
}

/* top image in the card, with border*/ 
.cardimage {
  display: flex;
  border-style: solid;
  border-radius: 10px;
  border-width: 0.3em;
  border-color: #fbcd4b;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.cardimage img {  /* class must come before element*/ 
  width: 100px;
  height: 100px;
}

.cardtext {
  text-align: center;
  font-size: 0.8em;
  width: 120px;
  color: #282623;
}

/* HTML Table */
.sectiontable {
  display: flex;
  padding: 10;

}

.section3quote {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #E5E7EB;
  width: auto;
  height: 270px;
  justify-content: center;  /* main axis for div, centers vertically*/ 
  color: grey;
}

blockquote {
  font-size: 30px;
  font-style: italic;
  font-weight:lighter;
  margin: 5px 100px;
}

.section3quote p{
  color: #1F2937;
  font-weight: 100;

}

figcaption {
  text-align: right;
  padding-right: 150px;
  font-weight: bold;
  font-size: 1.1em;
}

.section4cta {
  display: flex;
  margin: auto;
}

.ctabox {
  display: flex;
  background-color: #3882F6;
  padding: 5px 15px;
  border-radius: 8px;  
}

.ctatext {
  padding: 3px 80px;
  margin: 3px;
}

.ctabutton {
  display: flex;
  padding: 3px 50px;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  font-size: 0.8em;
}

.darkbox {
  color:white;
}

html {
  font-family: sans-serif;
}

/* Code below copied for my test table, from https://github.com/mdn/learning-area/blob/main/html/tables/assessment-start/minimal-table.css */

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

caption {
  padding: 10px;
}


/*  NOTES

*/